<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="nav-link py-0" href="/home"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-10">
            <h3>General Information</h3>
        </div>
        <div class=col-12>
            <hr class="solid">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <p>How people may reach you?</p>
        </div>
        <div class="col-md-12">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="inperson" name="reachRadios" checked>
                <label class="custom-control-label" for="inperson">In-Person</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="online" name="reachRadios">
                <label class="custom-control-label" for="online">Online (coming soon)</label>
            </div>
        </div>
        <div class=col-12>
            <hr class="solid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="smallFont">Your services are presented locally. People will either come to your store or meet you
                In their own places.</p>
        </div><br>
        <div class="col-md-12">
            <p>How to make appointment with you?</p>
        </div>
        <div class="col-md-12">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="bookATime" name="appointmentRadios"checked>
                <label class="custom-control-label" for="bookATime">Book a Time</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dropIn" name="appointmentRadios">
                <label class="custom-control-label" for="dropIn">Drop In</label>
            </div>
        </div>
        <div class=col-12>
            <hr class="solid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="smallFont">No need for pre-registration. People can stop by your business at any of the available time.</p>
        </div>
        <div class="col-md-12">
            <div class="text-center">
            <button  type="button" class="btn btn-danger buttonStyle">Next</button>
            </div>
        </div>
    </div>
</div>