

<router-outlet></router-outlet>

<div class="container footerTopMargin">
    <div class="row">
        <div class="col-2 centerFooter Pointer" tabindex="1">
            <i class="fas fa-chart-bar iconActive"></i>
        </div>
        <div class="col-2 Pointer" tabindex="2">
            <i class="fas fa-calendar-minus "></i>
        </div>
        <div class="col-2 Pointer" tabindex="3">
            <i class="fas fa-plus-circle iconActive"></i>
        </div>
        <div class="col-2 Pointer" tabindex="4">
            <i class="fas fa-bell iconActive"></i>
        </div>
        <div class="col-2 Pointer" tabindex="5">
            <i class="fas fa-cog iconActive"></i>
        </div>
    </div>
</div>