/* You can add global styles to this file, and also import other style files */
.nav-link[data-toggle].collapsed:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.nav-link[data-toggle]:not(.collapsed):before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
}


.subNav{
    margin-left: 15%;
}
.subNavSpan{
    margin-right: 5%;
}

.blue{
    color:dodgerblue;
}

.smallFont{
    color: gray;
    font-size: small;
}

.buttonStyle{
    width: 43%;
}

.centerFooter{
        margin-left: 6%;
}

.footerTopMargin{
    margin-top: 8%;
}



.Pointer{
    cursor: pointer;
}

div:focus{  

    background-color:#ffc0cb !important;

}