<div class="container">
    <div class="row">
      <div class="col-4">
        <a class="nav-link py-0" href="/home" ><i class="fas fa-arrow-left"></i></a>
      </div>
      <div class="col-8">
        <h3>Adding</h3>
      </div>
      <div class=col-12>
        <hr class="solid">
      </div>
      <div class="col-md-12">
        <p>Select your service category & Profession</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
  
          <li class="nav-item" *ngFor="let tab of menuList; let i=index">
            <a class="nav-link collapsed text-truncate" href="#{{tab.title}}" data-toggle="collapse"
              data-target="#{{tab.title}}">
              <span class=" d-sm-inline">{{tab.title}}</span></a>
            <div class="collapse" id="{{tab.title}}" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item subNav" *ngFor="let subMenu of tab.subCategories; let j=index">
                  <a class="subnav-link py-0" href="/sub-page" >
                    <span class="subNavSpan">{{subMenu.title}}</span></a>
                    <i class="fas fa-chevron-right blue" ></i>
                  <hr *ngIf="j < tab.subCategories.length-1" class="solid">
                </li>
              </ul>
            </div>
            <hr class="solid">
          </li>
  
        </ul>
      </div>
  
    </div>
  </div>
  